<h1>Welcome to words in a string</h1>
<form action="/word">
    <div class="form-group">
      <label for="word">Enter the word to find:</label>
      <input id="word" name="word" class="form-control" type="text">
      <label for="string">Enter the string to search through:</label>
      <input id="string" name="string" class="form-control" type="text">
    </div>
    <button type="submit" class="btn-success">Send</button>
</form>
