<!DOCTYPE html>
<html>
<head>
  <title>How many times is a word in a string?</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
